/vendor/
/bin/*.phar
/tests/_wordpress
/tests/Support/Data/dump.sql
/tests/Support/_generated/
node_modules
build
.cache/
.phpunit.result.cache
.idea/
.vscode/

**/.claude/settings.local.json
**/.wip/
