/vendor/
/bin/*.phar
/tests/_wordpress
/tests/Support/_generated/
node_modules
build
.cache/*
!.cache/.gitkeep
.phpunit.result.cache
.idea/
.vscode/

**/.claude/settings.local.json
**/.wip/

# Lando
/tmp/
