parameters:
    level: 6
    bootstrapFiles:
        - lolly.php

    paths:
        - lolly.php
        - src

    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php

    ignoreErrors:
        -
            messages:
                - '#Method Lolly::[a-z]+\(\) has parameter \$context with no value type specified in iterable type array.#'
                - '#Parameter \#[1-2] \$message \(string\) of method Lolly::[a-z]+\(\) should be contravariant with parameter#'
            path: lolly.php
