name: Tests

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    tests:
        name: Tests
        runs-on: ubuntu-latest

        steps:
            - name: Clone Repository
              uses: actions/checkout@v4
              with:
                ref: ${{ github.ref }}

            - name: Configure Slic
              uses: ./.github/actions/configure-tests

            - name: Run Tests
              run: ${SLIC_BIN} run Wpunit --ext DotReporter

            - name: Upload Artifacts
              uses: actions/upload-artifact@v4
              if: ${{ failure() }}
              with:
                name: Test Failure Output
                path: ./tests/_output/**
